.contact-icons {
    background: rgba(128, 128, 128, 0.35) !important;
    align-items: center;
    justify-content: center;
}

.contact-icons li {
    transition: transform 0.3s, filter 0.3s;
}

.contact-icons li:hover {
    transform: scale(1.1); /* Slightly enlarges the icon */
    filter: brightness(1.2); /* Brightens the icon */
}

#footer .copyright {
    color: white;
}

#footer .copyright a {
    color: white;
}

.custom-icon {
    display: inline-block;
    background: none;
    line-height: 2.5em;
    text-align: center;
    border: 0;
    color: inherit;
    width: 2em;
    height: 2em;
    border-radius: unset;
    margin-bottom: -0.5em;
}


.linkedin-custom-icon {
    width: auto;
    height: 2em;
}

.github-icon {
    font-size: 1.5em;
    margin: -0.5em;
}

.arvix-custom-icon {
    width: auto;
    height: 2em;
}

.arvix-a {
    margin-right: 2em;
}